In [41]:
import pandas as pd
import zipfile
import kaggle

In [37]:
!kaggle datasets download -d fahmidachowdhury/e-commerce-sales-analysis

/Users/mac/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/mac/.kaggle/kaggle.json'
Dataset URL: https://www.kaggle.com/datasets/fahmidachowdhury/e-commerce-sales-analysis
License(s): Attribution 4.0 International (CC BY 4.0)
Downloading e-commerce-sales-analysis.zip to /Users/mac/Desktop/Data Analytics Project/E-Commerce-sales
  0%|                                               | 0.00/34.8k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 34.8k/34.8k [00:00<00:00, 1.23MB/s]

In [43]:
zipfile_name = 'e-commerce-sales-analysis.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [45]:
E_commerce = pd.read_csv("ecommerce_sales_analysis.csv")

Analysis #1

In [47]:
E_commerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      1000 non-null   int64
 1   product_name    1000 non-null   object
 2   category        1000 non-null   object
 3   price           1000 non-null   float64
 4   review_score    1000 non-null   float64
 5   review_count    1000 non-null   int64
 6   sales_month_1   1000 non-null   int64
 7   sales_month_2   1000 non-null   int64
 8   sales_month_3   1000 non-null   int64
 9   sales_month_4   1000 non-null   int64
 10  sales_month_5   1000 non-null   int64
 11  sales_month_6   1000 non-null   int64
 12  sales_month_7   1000 non-null   int64
 13  sales_month_8   1000 non-null   int64
 14  sales_month_9   1000 non-null   int64
 15  sales_month_10  1000 non-null   int64
 16  sales_month_11  1000 non-null   int64
 17  sales_month_12  1000 non-null   int64
dtypes: float64(2), int64(14), object(2)
memory usage: 140.8+ KB

In [49]:
E_commerce.shape

(1000, 18)

In [59]:
E_commerce

,product_id,product_name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,604,904,446,603,807,252,695,306
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,524,128,610,436,176,294,772,353
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,771,409,290,828,340,667,267,392
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,937,421,670,933,56,157,168,203
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,620,293,411,258,854,548,770,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Product_996,Home & Kitchen,50.33,3.6,494,488,359,137,787,678,970,282,155,57,575,634,393
996,997,Product_997,Home & Kitchen,459.07,4.8,701,18,906,129,78,19,110,403,683,104,858,729,474
997,998,Product_998,Sports,72.73,1.3,287,725,109,193,657,215,337,664,476,265,344,888,654
998,999,Product_999,Sports,475.37,1.2,720,196,191,315,622,854,122,65,938,521,268,60,394
999,1000,Product_1000,Toys,225.77,2.1,114,890,903,983,769,134,704,648,400,495,839,611,110

In [54]:
E_commerce.category.value_counts()

category
Books             154
Sports            153
Toys              151
Clothing          140
Health            139
Electronics       138
Home & Kitchen    125
Name: count, dtype: int64

In [79]:
sales_by_category = E_commerce.groupby('category')
product_counts = sales_by_category['product_id'].nunique().reset_index(name='product_count')
sales_column = [f'sales_month_{i}' for i in range(1,13)]
monthly_sales = sales_by_category[sales_column].sum().reset_index()
monthly_sales['total_sales']=monthly_sales[sales_column].sum(axis=1)

In [86]:
sales_by_category = pd.merge(product_counts,monthly_sales, on='category')

In [94]:
sales_dictionary = {'sales_month_1':'january_sales', 'sales_month_2':'february_sales', 'sales_month_3':'march_sales', 'sales_month_4':'april_sales', 
 'sales_month_5':'may_sales', 'sales_month_6':'june_sales', 'sales_month_7':'july_sales', 'sales_month_8':'august_sales', 
 'sales_month_9':'september_sales', 'sales_month_10':'october_sales', 'sales_month_11':'november_sales', 'sales_month_12':'december_sales'}
sales_by_category.rename(sales_dictionary, axis=1, inplace=True)

In [91]:
sales_by_category

,category,product_count,january_sales,february_sales,march_sales,april_sales,may_sales,june_sales,july_sales,august_sales,september_sales,october_sales,november_sales,december_sales,total_sales
0,Books,154,77932,80079,76998,74699,79051,76644,79114,78108,77211,83504,76557,78332,938229
1,Clothing,140,60966,67911,76796,70088,61643,63123,66105,74422,72675,68806,71683,72318,826536
2,Electronics,138,76347,72472,70708,73158,72169,70060,72223,65754,69914,70148,68148,64019,845120
3,Health,139,67644,67432,67602,72925,69178,63926,75256,69126,64581,72613,72500,71631,834414
4,Home & Kitchen,125,57844,57252,62667,65388,59766,63169,60129,65042,58135,64876,66281,61592,742141
5,Sports,153,77737,82244,75109,74287,73467,75641,77082,73912,79209,80187,74270,73226,916371
6,Toys,151,79836,80271,76859,73278,71920,79090,77102,78205,70209,74664,76399,79268,917101

In [92]:
sales_by_category.to_excel('sales_by_category.xlsx', sheet_name='Data')

#CASE 2

In [96]:
sales_dictionary = {'sales_month_1':'january_sales', 'sales_month_2':'february_sales', 'sales_month_3':'march_sales', 'sales_month_4':'april_sales', 
 'sales_month_5':'may_sales', 'sales_month_6':'june_sales', 'sales_month_7':'july_sales', 'sales_month_8':'august_sales', 
 'sales_month_9':'september_sales', 'sales_month_10':'october_sales', 'sales_month_11':'november_sales', 'sales_month_12':'december_sales'}
E_commerce.rename(sales_dictionary, axis=1, inplace=True)

In [97]:
E_commerce

,product_id,product_name,category,price,review_score,review_count,january_sales,february_sales,march_sales,april_sales,may_sales,june_sales,july_sales,august_sales,september_sales,october_sales,november_sales,december_sales
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,604,904,446,603,807,252,695,306
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,524,128,610,436,176,294,772,353
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,771,409,290,828,340,667,267,392
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,937,421,670,933,56,157,168,203
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,620,293,411,258,854,548,770,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Product_996,Home & Kitchen,50.33,3.6,494,488,359,137,787,678,970,282,155,57,575,634,393
996,997,Product_997,Home & Kitchen,459.07,4.8,701,18,906,129,78,19,110,403,683,104,858,729,474
997,998,Product_998,Sports,72.73,1.3,287,725,109,193,657,215,337,664,476,265,344,888,654
998,999,Product_999,Sports,475.37,1.2,720,196,191,315,622,854,122,65,938,521,268,60,394
999,1000,Product_1000,Toys,225.77,2.1,114,890,903,983,769,134,704,648,400,495,839,611,110

Analysis #2

In [105]:
E_commerce.price.min()

np.float64(7.29)

In [106]:
E_commerce.price.max()

np.float64(499.86)

In [115]:
desired_category = 'Books'

In [116]:
filtered_category = E_commerce[E_commerce['category']==desired_category]

In [118]:
sorted_category = filtered_category.sort_values(by='price', ascending=False)
sorted_category

,product_id,product_name,category,price,review_score,review_count,january_sales,february_sales,march_sales,april_sales,may_sales,june_sales,july_sales,august_sales,september_sales,october_sales,november_sales,december_sales
531,532,Product_532,Books,499.86,3.4,162,667,48,734,711,658,950,989,438,588,615,829,303
390,391,Product_391,Books,495.30,1.9,507,527,234,510,1000,918,948,681,784,656,177,444,491
69,70,Product_70,Books,493.51,2.1,908,909,229,935,736,697,686,833,234,183,479,464,614
661,662,Product_662,Books,493.33,3.1,737,960,805,719,15,536,199,920,209,76,276,449,477
499,500,Product_500,Books,493.17,4.5,588,276,412,236,303,527,516,566,179,178,912,2,370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,238,Product_238,Books,17.04,2.9,129,535,795,605,640,270,225,298,465,370,928,623,891
925,926,Product_926,Books,16.12,1.4,487,167,975,964,428,363,162,788,508,327,660,917,414
794,795,Product_795,Books,13.96,1.2,31,305,536,585,288,333,666,605,788,82,61,307,184
205,206,Product_206,Books,9.55,4.1,848,849,502,327,244,738,662,981,289,801,680,988,604
128,129,Product_129,Books,8.44,2.5,960,336,816,671,905,919,796,372,934,148,210,358,885